:root {
  --fairfield-red: #C8102E;
}
html,
body {
  background: #d0d0d0;
  padding: 0;
  margin: 0;
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
  color: #404040;
  line-height: 1.8em;
}

.toIndex, .toUser {
  padding-top: .5%;
}

.toLogout {
  padding-top: 1%;
  padding-right: .5%;
}

.toIndex {
  padding-left: .5%;
  float: left;
}

.toLogout, .toUser {
  float: right;
}

header {
  width: 100%;
}

#nonSearch {
  background: var(--fairfield-red);
  border-bottom: solid 1px grey;
  width: 100%;
}

h1 {
  padding: 0.5em 0;
  margin: 0;
  color: white;
  text-align: center;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

.searchBar,
.uploadForm {
  background: #d0d0d0;
  width: 50%;
  text-align: center;
  margin: 1em auto;
}
.searchBar label,
.searchBar input {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.searchBar label,
.uploadForm label {
  border-radius: 0.5em 0.5em 0 0;
  border:  solid 1px var(--fairfield-red);
}
.searchBar button {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  border:  solid 1px var(--fairfield-red);
  border-radius: 0 0 0 0.5em;
}

.uploadForm button {
  display: block;
  width: 100%;
}

#input-file {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border:  solid 1px var(--fairfield-red);
  border-radius: 0 0 0 0.5em;
}

#uploadLabel {
  display: block;
}
.levelLabel {
  width: 80%;
  display: inline-block;
}
[data-button="search"] {
  border-radius: 0 0 0 0.5em;
}
[data-button="reset"] {
  border-radius: 0 0 0.5em 0;
}
[data-button="upload"] {
  border-radius: 0 0 0 0.5em;
  border:  solid 1px var(--fairfield-red);
}
[data-button="level"] {
  display: inline-block;
  box-sizing: border-box;
  border:  solid 1px var(--fairfield-red);
  border-radius: 0 0 0 0.5em;
}

#logo {
  height: 30px;
  width: auto;
}

#logout {
  height: 20px;
  width: auto;
  border-radius: 50%;
  horizontal-align: right;
}

#logout:hover {
  cursor: pointer;
}

#avatar {
  border-radius: 50%;
  height: 30px;
  width: auto;
  horizontal-align: right;
}

#avatar:hover {
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 100vw;
}

.bookletDisplay {
  width: 50%;
  text-align: center;
  margin: 1em auto;
  border:  solid 1px var(--fairfield-red);
  border-radius:  1em;
  width: 50%;
  text-align: center;
  margin: 1em auto;
}
ol {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
ol li {
  border-bottom: solid 1px var(--fairfield-red);;
}
ol li:last-child {
  border-bottom:  one;
}
footer {
   width: 100%;
   display: block;
   text-align: center;
}