<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Booklet Viewer</title>
  <link rel="stylesheet" href="../static/css/booklet.css" th:href="@{/css/booklet.css}">
</head>
<body class="booklet">
<header th:replace="~{fragments/template-header.html :: header}"></header>
  <div th:if="${canView}" id="bookletDisplay">
      <embed th:src="${path}" id="displayItem"/>
  </div>
  <div th:if="!${canView}" class="bookletDisplay">
    <h1 th:text="${message}"></h1>
  </div>
  <footer th:replace="~{fragments/template-footer.html :: footer}"></footer>
</body>
</html>