<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Booklet Viewer</title>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/booklet.css" th:href="@{/css/booklet.css}"/>
</head>

<body>
  <div>
    <img id="logo" th:src="@{/images/tiny.jpg}" src="../static/images/tiny.jpg" alt="Logo">
    <h1>View A Booklet</h1>
    <img id="avatar" th:src="@{/images/pfp.jpg}" src="../static/images/pfp.jpg" alt="PFP">
  </div>
  <div class="searchBar">
    <form method="get" th:action="@{/search}">
      <input name="keyword" placeholder="Find by Level ID and/or Booklet Name" size="50" th:value="${keyword}" type="text">
      <button class="btn btn-info" type="submit">Search</button>
      <button class="btn btn-info" type="submit">Reset</button>
    </form>
  </div>
  <div id="stockCarousel">
    <div>
      <embed th:src="@{../files/this.pdf}" class="displayItem"/>
      <embed th:src="${this}" class="displayItem"/>
      <p th:text="${path}">p</p>
      Preview a single PDF document relatively full screen
    </div>
  </div>
</body>
</html>