<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Booklet Viewer</title>
  <link rel="stylesheet" href="../static/css/booklet.css" th:href="@{/css/booklet.css}">
</head>
<body class="booklet">
<header th:replace="~{fragments/template-header.html :: header}"></header>
  <div id="bookletDisplay">
    <div>
      <embed th:src="${path}" class="displayItem"/>
    </div>
  </div>
  <footer th:replace="~{fragments/template-footer.html :: footer}"></footer>
</body>
</html>