<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Booklets</title>
  <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
<header th:replace="~{fragments/template-header.html :: header}"></header>
  <section class="bookletDisplay" th:if="${isNotSearch}">
    <h3>Recently Viewed:</h3>
    <ol>
      <li><a th:href="${filePath1}" th:text="${fileName1}"></a></li>
      <li><a th:href="${filePath2}" th:text="${fileName2}"></a></li>
      <li><a th:href="${filePath3}" th:text="${fileName3}"></a></li>
      <li><a th:href="${filePath4}" th:text="${fileName4}"></a></li>
    </ol>
  </section>
  <div class="bookletDisplay" th:if="${isSearch}">
    <h3>Search Results:</h3>
    <ul>
      <li th:each="l : ${list}" th:field="${l}"><a th:href="${l.pathToFile}" th:text="${l.fileName.replace('.png','.pdf')}"></a></li>
    </ul>
  </div>
<footer th:replace="~{fragments/template-footer.html :: footer}"></footer>
</body>
</html>