<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<h1 th:text="'Register Now'">form</h1>
<form th:action="@{/register}" th:object="${user}" method="POST" enctype="text/plain">
  <div>
    <label th:text="'Full Name'">fullName</label>
    <input th:field="*{fullName}"/>
    <p th:each="error: ${#fields.errors('fullName')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label th:text="'E-Mail'">email</label>
    <input type="email" th:field="*{email}"/>
    <p th:each="error : ${#fields.errors('email')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label th:text="'Password'">password</label>
    <input type="password" th:field="*{password}"/>
    <p th:each="error : ${#fields.errors('password')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label th:text="'Confirm Password'">confirm</label>
    <input type="password" th:field="*{passwordConf}"/>
  </div>
  <button type="submit" th:text="'Submit'">submit</button>
</form>

<a th:href="@{/login}" th:text="'Back to Login'">login</a>
</body>
</html>