<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Booklets</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/user.css}">
</head>

<body>
<header th:replace="~{fragments/template-header.html :: header}"></header>
<h1 class="bodyText" th:text="'Hello ' + ${user.firstName}"></h1>
<h1 class="bodyText" th:text="'Your E-Mail is ' + ${user.username}"></h1>
<h1 class="bodyText" th:text="'Your Level is ' + ${user.levelId}"></h1>
<footer th:replace="~{fragments/template-footer.html :: footer}"></footer>
</body>
</html>